.box-info {
    background-color: $white;
    border: 1px solid rgba($primary_blue, 0.3);
    position: relative;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    min-height: 48px;
    border-radius: 12px;
    svg {
        position: absolute;
        width: 48px;
        left: 30px;
        top: 20px;
    }
    .title-box-info {
        font-size: $h4-font-size;
        margin-bottom: 0;
    }
}
.svg-blue-primary {
    fill: $primary_blue;
}
.box-donate {
    background-color: $primary_blue;
}