.box-info {
    background-color: $white;
    border: 1px solid rgba($primary_blue, 0.3);
    position: relative;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    min-height: 48px;
    border-radius: 12px;
    svg {
        position: absolute;
        width: 48px;
        left: 30px;
        top: 20px;
    }
    .title-box-info {
        font-size: $h4-font-size;
        margin-bottom: 0;
    }
}
.svg-blue-primary {
    fill: $primary_blue;
}
.svg-yellow-primary {
    fill: $primary_yellow;
}
.box-donate {
    background-color: $primary_blue;
    color: $white;
    border-radius: 12px;
    padding: 30px;
    .title-box-donate {
        color: $primary-yellow;
        font-weight: 600;
    }
    svg {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 80px;
    }
}
.box-warning {
    position: relative;
    padding-left: 70px;
    svg {
        width: 48px;
        position: absolute;
        left: 0;
        top: 10px; 
    }
    .st0 {
        fill: none;
        stroke: #201547;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3.5px;
    }
    .st1 {
        fill: #201547;
    }
    .title-box-warning {
        font-size: 24px;
        font-weight: bold;
    }
}