// GENERALES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}
header {
    background-color: $primary_blue;
    color: $white;
}
.mb-80 {
    margin-bottom: 80px;
}
.bg-primary-blue {
    background-color: $primary_blue;
}
.bg-primary-indigo {
    background-color: $primary_indigo;
}
.bg-primary-blue, .bg-primary-indigo {
    color: $white;
}
.bg-shade-white {
    background-color: $shade_white;
    color: $primary_blue;
}
.section-title {
    font-size: $h2-font-size;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.color-yellow-primary {
    color: $primary_yellow;
}
.color-blue-primary {
    color: $primary_blue;
}
.color-indigo-primary {
    color: $primary_indigo;
}
.btn-info {
    background-color: $shade_white;
    border-color: transparent;
    border-radius: 30%;
    color: $primary_blue;
}
.section-main {
    padding: 5rem 0;
    p {
        //margin-bottom: 1.5rem;
        //font-size: $paragraph-font-size;
    }
}
.section-featured {
    height: 512px;
    .section-title {
        font-size: $h1-font-size;
    }
    &.team-section-featured {
        background-color: rgba($color: $primary_indigo, $alpha: .9);
        color: $white;
        position: relative;
        z-index: 1;
        overflow: hidden;
        .mask {
            position: absolute;
            top: -20%; 
            left: -20%;
            width: 180%;
            height: 180%;
            z-index: -1;
            background-image: url('../images/fondos/33e603e6316c29b4cc381a582479f715a0a4c608.png');
            background-size: cover;
            transform: rotate(15deg);
            opacity: 0.1;
            background-attachment: fixed;
            background-position: center;
        }
    }
}
.custom-col {
    flex: 0 0 20%;
    max-width: 20%;
}
@media (max-width: 768px) {
    .section-main {
        padding: 3rem 0;
    }
}
.wavy-underline {
    text-decoration: underline;
    text-decoration-color: $primary_yellow;
    text-decoration-style: wavy;
    text-underline-offset: .5rem;
}

// MAIN

main {
    padding-top: 126px;
}
.title-feature-soap {
    //font-weight: 800;
    color: #4b9fda;//$primary_indigo;
    font-family: "Pacifico", cursive;
    font-size: 60px;
}
.content-feature-soap {
    color: $primary_indigo;
    font-size: $h4-font-size;
}

// CARRUSEL
.carousel-indicators [data-bs-target] {
    height: 20px;
    width: 20px;
    opacity: 1;
    border-radius: 100%;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 2;
    &.active {
        background-color: $primary_yellow;
    }
   /*  &::before {
        position: absolute;
        height: 20px;
        width: 20px;
        content: '';
        background-color: rgba($main_black, 0.5);
        z-index: 1;
    }  */
}
.carousel-indicators {
    //background-color: rgba($main_black, 0.5);
    border-radius: 20px;
}

.main-carousel-featured {
    .carousel-control-prev, .carousel-control-next {
        background-color: $primary_yellow;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        top: 50%;
        margin-top: -30px;
        opacity: 1;
    }
    .carousel-control-prev {
        left: 40px;
    }
    .carousel-control-next {
        right: 40px;
    }
    .carousel-item {
        position: relative;
        .carousel-caption {
            position: absolute;
            top: 0;
        }
        &.slide-item-1 {
            .carousel-title {
                font-size: $h1-font-size;
                color: $primary_indigo;
                font-weight: 800;
            }
            .carousel-content {
                font-weight: 600;
                color: $primary_blue;
            }
        }
        &.slide-item-2 {
            .carousel-title {
                font-size: $h1-font-size;
                font-weight: 800;
                color: $primary_yellow;
            }
            .carousel-content {
                font-weight: 600;
                color: $main_white;
            }
        }
        &.slide-item-3 {
            .carousel-title {
                font-size: $h1-font-size;
                font-weight: 800;
                color: $primary_yellow;
            }
            .carousel-content {
                font-weight: 600;
                color: $main_white;
            }
        }
    }
}

// Lista quienes somos
.data-featured {
    .data-featured-title {
        color: $primary_yellow;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 100%;
    }
    dd {
        padding: 1rem;
        margin-bottom: 0;
        position: relative;
        font-weight: bold;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 1rem;
            right: 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        }
        &:nth-child(2), &:nth-child(3) {
            padding-top: 0;
            &::before {
                border-bottom: 1px solid rgba($color: $white, $alpha: 0);
            }
        }
    }
}
.banner-opinion {
    background-image: url('../images/ornamento_fondo_redimensionable.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}
// NOTICIAS HOME

.home {
    .ratio-4x3 {
        --bs-aspect-ratio: 82.5%;
    }
}
.entry-news {
    position: relative;
    z-index: 0;
    overflow: hidden;
    .entry-news-content {
        color: $white;
        font-size: $h4-font-size;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        background: #201547;
        background: -webkit-linear-gradient(0deg, rgba(32, 21, 71, 1) 20%, rgba(255, 255, 255, 0) 100%);
        background: -moz-linear-gradient(0deg, rgba(32, 21, 71, 1) 20%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(0deg, rgba(32, 21, 71, 1) 20%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201547", endColorstr="#FFFFFF", GradientType=0);
    }
    .entry-data {
        position: absolute;
        bottom: 0;
        padding: 1rem;
    }
    .entry-image {
        object-fit: cover;
    }
    .entry-title {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        font-size: $h3-font-size;
        &:hover {
            text-decoration: underline;
        }
    }
    .entry-categories {
        a {
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: $h5-font-size;
            padding-left: .5rem;
            border-left: 2px solid $primary_yellow;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    p {
        display: none;
    }
    &.featured-news {
        p {
            display: block;
        }
    }
}
.alliance-img {
    max-width: 230px;
}