* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}
header, footer {
    background-color: $primary_blue;
    color: $white;
}
.top-menu {
    background-color: $primary_indigo;
}