* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}
header, footer {
    background-color: $primary_blue;
    color: $white;
}
// HEADER 
.top-menu {
    background-color: $primary_indigo;
    //height: 36px;
    overflow: hidden;
    font-size: $h5-font-size;
    color: $main_white;
    a, .nav-link {
        color: $main_white;
        fill: $main_white;
    }
    svg {
        width: 17px;
    }
}
.navbar-brand {
    background-image: url(../images/Logo-Gantz.svg);
    background-repeat: no-repeat;
    width: 140px;
    height: 58.33px;
    background-size: contain;
    text-indent: -9999px; 
    overflow: hidden; 
    white-space: nowrap;
    display: block;
}
header {
    .nav-link {
        color: $main_white;
    }
}
