// NOTICIAS HOME
.entry-categories {
    a {
        text-transform: uppercase;
        text-decoration: none;
        padding-left: .5rem;
        border-left: 2px solid $primary_indigo;
        font-size: $paragraph-font-size;
        text-decoration: none;
    }
}
.entry-news {
    position: relative;
    z-index: 0;
    overflow: hidden;
    .entry-news-content {
        color: $white;
        font-size: $h4-font-size;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        background: #201547;
        background: -webkit-linear-gradient(0deg, rgba(32, 21, 71, 1) 20%, rgba(255, 255, 255, 0) 100%);
        background: -moz-linear-gradient(0deg, rgba(32, 21, 71, 1) 20%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(0deg, rgba(32, 21, 71, 1) 20%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201547", endColorstr="#FFFFFF", GradientType=0);
    }
    .entry-data {
        position: absolute;
        bottom: 0;
        padding: 1rem;
    }
    .entry-image {
        object-fit: cover;
    }
    .entry-title {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        font-size: $h3-font-size;
        &:hover {
            text-decoration: underline;
        }
    }
    .entry-categories {
        a {
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: $h5-font-size;
            padding-left: .5rem;
            border-left: 2px solid $primary_yellow;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    p {
        display: none;
    }
    &.featured-news {
        p {
            display: block;
        }
    }
    &.single-news {
        .entry-data {
            position: relative;
        }
        .entry-news-content {
            color: $primary_blue;
            font-size: $paragraph-font-size - 4;
            position: relative;
            z-index: 1;
            background: transparent !important;
        }
        a {
            color: $primary_blue;
        }
        .entry-title {
            font-size: $paragraph-font-size - 4;
            a {
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        .entry-categories a {
            border-left: 2px solid $primary_indigo;
        }
    }
    &.gallery-news {
        .entry-data {
            position: relative;
        }
        .entry-news-content {
            color: $primary_blue;
            position: relative;
            z-index: 1;
            background: transparent !important;
        }
        a {
            color: $primary_indigo;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .entry-title {
            font-size: $h4-font-size;
            line-height: 135%;
            a {
                display: -webkit-box;
                -webkit-line-clamp: 3;           /* Number of lines to show */
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
    }
}

// NOTICIAS SINGLE
.entry-single {
    p {
        color: $primary_blue;
    }
    .featured-entry-single {
        position: relative;
        overflow: hidden;
        figcaption {
            margin-top: 1rem;
            color: $primary_indigo;
        }
    }
    .entry-data {
        .entry-date {
            color: $primary_indigo;
            font-size: $paragraph-font-size - 4;
        }
        .entry-description {
            font-size: $paragraph-font-size;
            font-weight: 600;
        }
    }
}

.gallery-switch {
    border: 1px solid rgba($primary_blue, 0.3);
    background-color: $white;
    border-radius: 12px;
    padding: 15px;
    a.active {
        color: $accent_cobalt;
        font-weight: bold;
    }
}